In [2]:
# Name:  Ashwini Devkota
# Assignment:  Heroes of Pymoli

In [3]:
# Summary of three observable trends based on data
print('''\n
      Summary of three observable trends
      ---------------------------------- 
        1. Heroes of Pymoli game is mainly dominated by male players, and they consist of 
            more than 80 percent of the total players.  Hence, they also lead in Purchase Count
            and Total Purchase Value.
            
        2. Age group 20-24 make up highest Purchase Count and Total purchase value, although 
            the average purchase price for this age group is the lowest.
            
        3. Most of the top spenders did not necessarily spent highest average price per item.  
            However, they purchased more number of items, and this led to the highest 
            Total Purchase Value.
        \n''')

      Summary of three observable trends
      ----------------------------------
        1. Heroes of Pymoli game is mainly dominated by male players, and they consist of
            more than 80 percent of the total players.  Hence, they also lead in Purchase Count
            and Total Purchase Value.

        2. Age group 20-24 make up highest Purchase Count and Total purchase value, although
            the average purchase price for this age group is the lowest.

        3. Most of the top spenders did not necessarily spent highest average price per item.
            However, they purchased more number of items, and this led to the highest
            Total Purchase Value.

In [4]:
# Import Dependencies
import pandas as pd
import numpy as np
import os

In [5]:
#Import file and read into Pandas DataFrame
data_file = "purchase_data.json"
df = pd.read_json(data_file)

# Print the first five rows of data to the screen
# df.head()

In [6]:
# Find total number of unique players
total_players = len(df["SN"].unique())

# Convert the result into a DataFrame
total_players_df = pd.DataFrame({"Total Players" : [total_players]},
                             columns = ["Total Players"])

# Print 
print("\nPlayer Count")
print("------------")
total_players_df

Player Count
------------

   Total Players
0            573

In [7]:
# Calculations for Purchasing Analysis (Total)
Number_of_unique_items = len(df["Item ID"].unique())
Average_purchase_price = round(df["Price"].mean(), 2)
Total_number_of_purchases = len(df["Price"])
Total_Revenue = round(df["Price"].sum(), 2)

In [8]:
# Add results into a DataFrame and specify columns
purc_analysis_tot_df = pd.DataFrame([[Number_of_unique_items, Average_purchase_price, 
                                Total_number_of_purchases, Total_Revenue]],
                    columns = ["Number of Unique Items", "Average Purchase Price", 
                               "Number of Purchases", "Total Revenue"])    

# Format and print the DataFrame table
print("\nPurchasing Analysis (Total)")
print("---------------------------")
purc_analysis_tot_df.style.format({"Average Purchase Price" : "${:.2f}", "Total Revenue" : "${:.2f}"})

Purchasing Analysis (Total)
---------------------------

In [9]:
# Calculate count and percent of each Gender
male_count = df[df["Gender"] == "Male"]["SN"].nunique()
female_count = df[df["Gender"] == "Female"]["SN"].nunique()
other_count = df[df["Gender"] == "Other / Non-Disclosed"]["SN"].nunique()

male_percent = (male_count / total_players) * 100
female_percent = (female_count / total_players) * 100
other_percent = (other_count / total_players) * 100

In [10]:
# Add results into a DataFrame, specify index and columns
gender_dem_df = pd.DataFrame([[male_percent, male_count],
                               [female_percent, female_count],
                               [other_percent, other_count]],
                            index = ["Male", "Female", "Other / Non-disclosed"],
                            columns = ["Percentage of Players", "Total Count"])  

# Format and print the DataFrame table
print("\nGender Demographics")
print("-------------------")
gender_dem_df.style.format({"Percentage of Players" : "{:.2f}%"})

Gender Demographics
-------------------

In [11]:
# Calculate Purchase Count, Average Purchase Price, Total Purchase Value and Normalized totals for each Gender
purchase_male = df[df["Gender"] == "Male"]["Price"].count()
purchase_female = df[df["Gender"] == "Female"]["Price"].count()
purchase_other = df[df["Gender"] == "Other / Non-Disclosed"]["Price"].count()

ave_price_male = df[df["Gender"] == "Male"]["Price"].mean()
ave_price_female = df[df["Gender"] == "Female"]["Price"].mean()
ave_price_other = df[df["Gender"] == "Other / Non-Disclosed"]["Price"].mean()

tot_value_male = df[df["Gender"] == "Male"]["Price"].sum()
tot_value_female = df[df["Gender"] == "Female"]["Price"].sum()
tot_value_other = df[df["Gender"] == "Other / Non-Disclosed"]["Price"].sum()

norm_tot_male = tot_value_male / male_count
norm_tot_female = tot_value_female / female_count
norm_tot_other = tot_value_other / other_count

In [12]:
# Add results into a DataFrame, specify index and columns
purchasing_analysis_df = pd.DataFrame([[purchase_male, ave_price_male, tot_value_male, norm_tot_male],
                               [purchase_female, ave_price_female, tot_value_female, norm_tot_female],
                               [purchase_other, ave_price_other, tot_value_other, norm_tot_other]],
                            index = ["Male", "Female", "Other / Non-disclosed"],
                            columns = ["Purchase Count", "Average Purchase Price", 
                                       "Total Purchase Value", "Normalized Totals"])  

# Format and print the DataFrame table
print("\nPurchasing Analysis (Gender)")
print("----------------------------")
purchasing_analysis_df.style.format({"Average Purchase Price" : "${:.2f}", 
                                     "Total Purchase Value" : "${:.2f}",
                                     "Normalized Totals" : "${:.2f}"})

Purchasing Analysis (Gender)
----------------------------

In [13]:
# Determine maximum and minimum Age values to create bins
# print("max:", df["Age"].max())
# print("min:", df["Age"].min())

In [22]:
# Create bins and assign group labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, 44]
group_labels = ["Less than 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40 or above"]

# Slice the data and place into bins
pd.cut(df["Age"], bins, labels = group_labels).head()

# Place the data series into a new column named "Age Group" inside of the DataFrame
df["Age Group"] = pd.cut(df["Age"], bins, labels = group_labels)
df

,Age,Gender,Item ID,Item Name,Price,SN,Age Group
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,20-24
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,20-24
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,25-29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,25-29
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,30-34
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,20-24
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,20-24
12,30,Male,81,Dreamkiss,4.06,Iskossa88,30-34
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,20-24
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,40 or above
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,20-24
16,22,Female,123,Twilight's Carver,1.14,Sundista85,20-24
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,20-24
18,28,Male,91,Celeste,3.71,Iskista88,25-29
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,30-34
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,20-24
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,15-19
22,11,Female,11,Brimstone,2.52,Deural48,10-14
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,15-19
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,10-14
25,21,Male,63,Stormfury Mace,1.27,Idai61,20-24
26,29,Male,132,Persuasion,3.90,Aerithllora36,25-29
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,30-34
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,15-19
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,15-19
...,...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91,20-24
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68,25-29
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68,15-19
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62,20-24
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54,30-34
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66,20-24
756,22,Male,6,Rusty Skull,1.20,Siasri67,20-24
757,35,Male,11,Brimstone,2.52,Seosri62,35-39
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90,20-24
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87,15-19
760,29,Male,81,Dreamkiss,4.06,Aerithllora36,25-29
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33,25-29
762,36,Male,52,Hatred,4.39,Lisosiast26,35-39
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25,25-29
764,25,Male,70,Hope's End,3.89,Assassasda84,25-29
765,15,Male,13,Serenity,1.49,Aerithnucal56,15-19
766,22,Female,84,Arcane Gem,2.23,Nitherian58,20-24
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89,20-24
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93,20-24
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78,20-24
770,22,Male,141,Persuasion,3.27,Aenasu69,20-24
771,24,Male,25,Hero Cane,1.03,Lassista97,20-24
772,15,Male,31,Trickster,2.07,Sidap51,15-19
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63,20-24
774,24,Male,123,Twilight's Carver,1.14,Lassassast73,20-24
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50,20-24
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78,10-14
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30,20-24
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80,20-24
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85,20-24

In [15]:
# Create a groupby object based on "Age Group"
by_group = df.groupby("Age Group")

# Calculations
purchase_count = by_group["Age"].count()
total_purchase_value = by_group["Price"].sum()
average_purchase_price = by_group["Price"].mean()
normalized_totals = round((total_purchase_value / purchase_count), 2)

# Add results to a DataFrame and rename column headers
purchase_count_df = pd.DataFrame(purchase_count)
renamed_purchase_count_df = purchase_count_df.rename(columns = {"Age" : "Purchase Count"})
total_purchase_value_df = pd.DataFrame(total_purchase_value)
renamed_total_purchase_value_df = total_purchase_value_df.rename(columns = {"Price" : "Total Purchase Value"})
average_purchase_price_df = pd.DataFrame(average_purchase_price)
renamed_average_purchase_price_df = average_purchase_price_df.rename(columns = {"Price" : "Average Purchase Price"})
normalized_totals_df = pd.DataFrame(normalized_totals)
renamed_normalized_total_df = normalized_totals_df.rename(columns = {0 : "Normalized Totals"})

In [16]:
# Merge DataFrame tables
merge_table1 = pd.DataFrame.join(renamed_purchase_count_df, renamed_average_purchase_price_df)
merge_table2 = pd.DataFrame.join(merge_table1, renamed_total_purchase_value_df)
age_demographics_df = pd.DataFrame.join(merge_table2, renamed_normalized_total_df)

# Format and print the DataFrame table
print("\nAge Demographics")
print("----------------")
age_demographics_df.style.format({"Average Purchase Price" : "${:.2f}", 
                                            "Total Purchase Value" : "${:.2f}",
                                            "Normalized Totals" : "${:.2f}"})

Age Demographics
----------------

In [17]:
# Groupby players to determine Total Purchase Value, Average Purchase Price and Purchase Count
purchase_total = df.groupby("SN")["Price"].sum().to_frame()
purchase_count = df.groupby("SN")["Price"].count().to_frame() 
purchase_average = df.groupby("SN")["Price"].mean().to_frame()

# Rename columns
purchase_count.columns = ["Purchase Count"]
purchase_total.columns = ["Total Purchase Value"]
purchase_average.columns = ["Average Purchase Price"]

In [18]:
# Merge the DataFrames
merge1 = pd.DataFrame.join(purchase_count, purchase_average)
merge2 = pd.DataFrame.join(merge1, purchase_total)

# Put column names in order
merge2.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]

# Format and print the DataFrame table
print("\nTop Spenders")
print("------------")
top_spenders = merge2.sort_values('Total Purchase Value', ascending = False).head()
top_spenders.style.format({"Average Purchase Price" : "${:.2f}", "Total Purchase Value" : "${:.2f}"})

Top Spenders
------------

In [19]:
# Groupe by following items
sum_id = df.groupby("Item ID").sum().reset_index()
sum_name = df.groupby("Item Name").sum().reset_index()
count_item = df.groupby("Item Name").count().reset_index()

# Merge DataFrames
m1 = pd.merge(sum_name, sum_id, on = "Price")
m2 = pd.merge(count_item, m1, on = "Item Name")
# m2.head()

In [20]:
# Calculate item price and rename all column names to more descriptive names
m2["Gender"] = round((m2["Price_y"]/m2["Item ID"]), 2)
m2_renamed = m2.rename(columns = {"Age" : "Purchase Count",
                                 "Gender" : "Item Price",
                                 "Item ID" : "null",
                                 "Price_y" : "Total Purchase Value",
                                 "Item ID_y" : "Item ID"})

# Reorder column names and set index
m2_organized = m2_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]
m2_organized_indexed = m2_organized.set_index(["Item Name", "Item ID"])

# Format, sort according to Purchase count and print 5 most popular items
print("\nMost Popular Items")
print("------------------")
most_popular_items = m2_organized_indexed.sort_values("Purchase Count", ascending = False).head()
most_popular_items.style.format({"Item Price" : "${:.2f}", "Total Purchase Value" : "${:.2f}"})

Most Popular Items
------------------

In [21]:
# Sort according to Total Purchase Value, format results and print 5 most profitable items
print("\nMost Profitable Items")
print("---------------------")
most_profitable_items = m2_organized_indexed.sort_values("Total Purchase Value", ascending = False).head()
most_profitable_items.style.format({"Item Price" : "${:.2f}", "Total Purchase Value" : "${:.2f}"})

Most Profitable Items
---------------------